.box1 {
    background-color: grey;
    width: 800px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 40px;
}

.home {
    background-color: aquamarine;
    height: 50px;
}

.about {
    background-color: brown;
    height: 50px;
}

.contact {
    background-color: blueviolet;
    height: 50px;
}

.box2 {
    background-color: grey;
    width: 800px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 40px;
    font-size: xx-large;
}

.box3 {
    background-color: grey;
    width: 800px;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 40px;
}

.email {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.subject {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.name {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.message {
    height: 100px;
    width: 500px;
}

.submit {
    margin-bottom: 20px;
    text-align: center;
    width:400px ;
}
.box4{
     background-color: grey;
    width: 800px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 40px;
    text-align: center;
}