.car1{
    background-color: grey;
    width: 58%;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
   
    padding-left: 40px;
}
.home{
 background-color: aquamarine;
    height: 50px;
}

.about {
    background-color: brown;
    height: 50px;
}

.contact{
    background-color: blueviolet;
    height: 50px;
}
.car2{
   background-color: grey;
   width:60% ; 
   height: 250px;
   margin: auto;
   margin-bottom: 10px;
}
.statement{
    background-color: aqua;
    height: 250px;
    width: 29%;
    float: left;
    text-align: center;
}
.photo{
   background-color: aqua;
    height: 29%;
    width: 395px;
    float: right; 
}
.car3{
  background-color: grey;
   width:60% ; 
   height: 200px;
   margin: auto;
   margin-bottom: 10px;
   text-align: center;
} 
.car4{
  background-color: grey;
   width:60% ; 
   height: 200px;
   margin: auto;
   margin-bottom: 10px;
   text-align: center;
} 
.car5{
  background-color: grey;
   width:60% ; 
   height: 50px;
   margin: auto;
   margin-bottom: 10px;
    padding-bottom: 10px; 
    text-align: center;
} 

